[submodule "SpaceCreatures"]
	path = SpaceCreatures
	url = https://github.com/hmadisonturner/SpaceCreatures
[submodule "conway-life"]
	path = conway-life
	url = https://github.com/hmadisonturner/conway-life
[submodule "8f1330f606ed965d27746ef24e60b898"]
	path = 8f1330f606ed965d27746ef24e60b898
	url = https://gist.github.com/8f1330f606ed965d27746ef24e60b898.git
[submodule "rick-and-morty-cards"]
	path = rick-and-morty-cards
	url = https://github.com/hmadisonturner/rick-and-morty-cards
[submodule "ai-share-menu"]
	path = ai-share-menu
	url = https://gist.github.com/e9e89f35dc710bd4d96586c04279795c.git
